header {
    min-height: 15vh;
}

main>div {
    min-height: 80vh;
}

footer {
    min-height: 5vh;
    color: #dbb12a;
    background-color: #150e03;
}

#navbar_top a:hover {
    background-color: #734b1aa0;
}

#navbar_top {
    background-color: #150e03;
}

#navbar_top>div>ul>li>a {
    color: #dbb12a;
}

#navbar_top>div>ul>li>span {
    color: #dbb12a;
}   

#title {
    color: #dbb12a;
    background-color: #150e03;
}

@media screen and (min-width: 768px) {
    #sidebar {
        background: linear-gradient(90deg, #dbb12ae0 98%, #e7ecef 100%);
    }
}

@media screen and (max-width: 768px) {
    #sidebar {
        background: linear-gradient(180deg, #dbb12ae0 98%, #e7ecef 100%);
    }
}

#sidebar a:hover {
    background-color: #ae8b0fe0;
}

#content {
    background-color: #dbb12a50;
}

#content a:hover {
    background-color: #dbb12a80;
}