header {
    min-height: 15vh;
}

@media screen and (min-width:768px) { 
    main>div {
        min-height: 75vh;
    }
}

@media screen and (max-width:768px) { 
    #content {
        min-height: 70vh;
    }
}

footer {
    min-height: 10vh;
    color: #dbb12a;
    background-color: #150e03;
}

#navbar_top a:hover {
    background-color: #734b1aa0;
}

#navbar_top {
    background-color: #150e03e0;
}

#navbar_top>div>ul>li>a {
    color: #dbb12a;
}

#navbar_top>div>ul>li>span {
    color: #dbb12a;
}   

#title {
    color: #dbb12a;
    background-color: #150e03e0;
}

#sidebar {
    background-color: #fdd85d20;
}

#sidebar a:hover {
    background-color: #ae8b0fe0;
}

#content {
    background-color: #fdd85d20;
}

#content a:hover {
    background-color: #dbb12a80;
}