header {
    min-height: 25vh;
}

main>div {
    min-height: 70vh;
}

footer {
    min-height: 5vh;
    color: #e7ecef;
    background-color: #274c77;
}

a:hover {
    background-color: #8b8c89;
}

#navbar_top {
    background-color: #6096ba;
}

#navbar_top>div>ul>li>a {
    color: #e7ecef;
}

#navbar_top>div>ul>li>span {
    color: #e7ecef;
}   

#title {
    background-color: #6096ba;
    /* background:linear-gradient(0deg, #a3cef1, #6096ba); */
}

#title>div {
    background-color: #e7ecef;
}

#navbar_bottom {
    background-color: #6096ba;
    /* background:linear-gradient(180deg, #a3cef1, #6096ba); */
}

#navbar_bottom>ul>li>a {
    color: #e7ecef;
}

#sidebar {
    background: linear-gradient(90deg, #a3cef1 98%, #e7ecef 100%);
}

.dropdownList {
    background-color: #e7ecef;
}

#content {
    background-color: #a3cef180;
}