header {
    min-height: 25vh;
}

main>div {
    min-height: 70vh;
}

footer {
    min-height: 5vh;
    color: #e7ecef;
    background-color: #274c77;
}

a:hover {
    background-color: #8b8c89;
}

#navbar_top {
    background-color: #274c77;
}

#navbar_top>div>ul>li>a {
    color: #e7ecef;
}

#navbar_top>div>ul>li>span {
    color: #e7ecef;
}   

#title {
    background-color: #e7ecef;
}

#navbar_bottom {
    background-color: #6096ba;
}

#sidebar {
    background-color: #a3cef1;
}

.dropdownList {
    background-color: #6096ba;
}

#content {
    background-color: #e7ecef;
}