header {
    min-height: 25vh;
}

main>div {
    min-height: 70vh;
}

footer {
    min-height: 5vh;
    color: #ffffff;
    background-color: #462255;
}

#navbar_top a:hover {
    background-color: #aa4465;
}

#navbar_bottom a:hover {
    background-color: #aa4465;
}

a:hover {
    background-color: #ffa691;
}

#navbar_top {
    background-color: #462255;
}

#title {
    background-color: #462255;
}

#title>div {
    background-color: #e7ecefe0;
}

#navbar_bottom {
    background-color: #462255;
}

@media screen and (min-width: 768px) {
    #sidebar {
        background: linear-gradient(90deg, #93e1d8 98%, #ddfff7 100%);
    }
}

@media screen and (max-width: 768px) {
    #sidebar {
        background: linear-gradient(180deg, #93e1d8 98%, #ddfff7 100%);
    }
}

.dropdownList {
    background-color: #ddfff7;
}

#content {
    background-color: #ddfff7;
}